*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Nunito', sans-serif;
}
h1
{
    color:#eee;
}
#typed
{
    color: #FEE715FF;
}
body{

    background-color: #101820FF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.blinking_cursor
{
    background-color:#FEE715FF;
    width: 4px;
    display: inline-block;
    margin-left: 3px;
    animation: blinking 1s infinite;
}
.non_blinking_cursor
{
    animation: none;
}

/* creating the animation for cursor

*/

@keyframes blinking {

    0%{
        background-color: #FEE715FF;
    }
    49%
    {
        background-color: #FEE715FF;
    }
    50%
    {
        background-color: #101820FF;

    }
    99%
    {
        background-color: #101820FF;

    }
    100%
    {
        background-color: #FEE715FF;
    }
    
}